<%- include('../includes/start.ejs') %>

<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <% if(products.length > 0) { %>
                <ul>
                    <% products.forEach(product => { %>
                        <li>
                            <p><%= product.productId.title %> (<%= product.qty %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <button type="submit" class="btn">Delete</button>
                                <input type="hidden" value="<%= product._id %>" name="productId">
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order</button>
                    </form>
                </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>