<%- include('../includes/start.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(product => { %>
                    <li class="cart__item">
                            <h1><%= product.productId.title %></h1>
                            <h2>Quantity: <%= product.qty %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= total %></h2>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>