<%- include('../includes/start.ejs') %>

<link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main>
            <% if(orders.length > 0) { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h1># <%= order._id %></h1>
                            <ul>
                                <% order.products.forEach(item => { %>
                                    <li><%= item.product.title %> (<%= item.qty %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <h1>No orders yet!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>